USE [master]
GO
/****** Object:  Database [project]    Script Date: 03/06/2020 14:41:03 ******/
CREATE DATABASE [project]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'project', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\project.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'project_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\project_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [project].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [project]
GO
/****** Object:  Table [dbo].[actual_error]    Script Date: 03/06/2020 14:41:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[actual_error](
	[error_code] [int] NOT NULL,
	[event_code] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[error_code] ASC,
	[event_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[costumer]    Script Date: 03/06/2020 14:41:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[costumer](
	[first_name] [char](100) NOT NULL,
	[last_name] [char](100) NOT NULL,
	[email] [char](100) NOT NULL,
	[phone] [char](11) NOT NULL,
	[adress] [char](100) NOT NULL,
	[Id] [int] NOT NULL,
	[age] [int] NULL,
	[type_car] [char](100) NOT NULL,
	[code_costumer] [int] IDENTITY(1000,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[code_costumer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[costumer_form]    Script Date: 03/06/2020 14:41:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[costumer_form](
	[start] [char](100) NOT NULL,
	[sound] [char](100) NOT NULL,
	[dengerous] [char](100) NOT NULL,
	[knowledge] [char](100) NOT NULL,
	[Num_of_costumer_form] [int] IDENTITY(1000,1) NOT NULL,
	[see] [char](100) NOT NULL,
	[light] [char](100) NOT NULL,
	[code_costumer] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Num_of_costumer_form] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[drag]    Script Date: 03/06/2020 14:41:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[drag](
	[company] [char](100) NOT NULL,
	[phone] [char](10) NOT NULL,
	[profit] [int] NOT NULL,
	[price] [int] NOT NULL,
	[distinction] [char](100) NOT NULL,
	[drag_code] [int] IDENTITY(1000,1) NOT NULL,
	[event_code] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[drag_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[error_Prediction]    Script Date: 03/06/2020 14:41:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[error_Prediction](
	[error_code] [int] NOT NULL,
	[Num_of_costumer_form] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[errors]    Script Date: 03/06/2020 14:41:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[errors](
	[name_error] [char](100) NOT NULL,
	[description_] [char](250) NOT NULL,
	[error_code] [int] IDENTITY(1000,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[error_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[events_]    Script Date: 03/06/2020 14:41:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[events_](
	[date] [date] NOT NULL,
	[coordiant_x] [int] NOT NULL,
	[coordiant_y] [int] NOT NULL,
	[status_] [bit] NOT NULL,
	[event_code] [int] IDENTITY(1000,1) NOT NULL,
	[Num_of_costumer_form] [int] NOT NULL,
	[Num_of_val_form] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[event_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_]    Script Date: 03/06/2020 14:41:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_](
	[UserName] [char](25) NOT NULL,
	[PassWord_] [char](16) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[val_form]    Script Date: 03/06/2020 14:41:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[val_form](
	[start] [char](100) NOT NULL,
	[sound] [char](100) NOT NULL,
	[Num_of_val_form] [int] IDENTITY(1000,1) NOT NULL,
	[see] [char](100) NOT NULL,
	[light] [char](100) NOT NULL,
	[error_code] [int] NOT NULL,
	[code_Volunteers] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Num_of_val_form] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vol_errors]    Script Date: 03/06/2020 14:41:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vol_errors](
	[code_Volunteers] [int] NOT NULL,
	[error_code] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Volunteers]    Script Date: 03/06/2020 14:41:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Volunteers](
	[phone] [char](11) NOT NULL,
	[status_availability] [bit] NOT NULL,
	[first_name] [char](100) NOT NULL,
	[Id] [int] NOT NULL,
	[last_name] [char](100) NOT NULL,
	[coordiant_x] [char](100) NOT NULL,
	[coordiant_y] [char](100) NOT NULL,
	[start_date_] [date] NOT NULL,
	[code_Volunteers] [int] IDENTITY(1000,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[code_Volunteers] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[costumer] ON 

GO
SET IDENTITY_INSERT [dbo].[costumer] OFF
SET IDENTITY_INSERT [dbo].[costumer_form] ON 

SET IDENTITY_INSERT [dbo].[costumer_form] OFF
SET IDENTITY_INSERT [dbo].[drag] ON 

INSERT [dbo].[drag] ([company], [phone], [profit], [price], [distinction], [drag_code], [event_code]) VALUES (N'גרירה בע"מ                                                                                          ', N'0522222222', 50, 650, N'4.1                                                                                                 ', 1000, 5001)
SET IDENTITY_INSERT [dbo].[drag] OFF
INSERT [dbo].[error_Prediction] ([error_code], [Num_of_costumer_form]) VALUES (1000, 1015)
INSERT [dbo].[error_Prediction] ([error_code], [Num_of_costumer_form]) VALUES (2003, 2001)
INSERT [dbo].[error_Prediction] ([error_code], [Num_of_costumer_form]) VALUES (3001, 2003)
SET IDENTITY_INSERT [dbo].[errors] ON 

INSERT [dbo].[errors] ([name_error], [description_], [error_code]) VALUES (N'פנצר                                                                                                ', N'גלגל לא תקין                                                                                                                                                                                                                                              ', 1000)
INSERT [dbo].[errors] ([name_error], [description_], [error_code]) VALUES (N'הנעת רכב                                                                                            ', N'הרכב לא מתניע                                                                                                                                                                                                                                             ', 1017)
INSERT [dbo].[errors] ([name_error], [description_], [error_code]) VALUES (N'חלונות תקועים                                                                                       ', N'החלונות לא עולים                                                                                                                                                                                                                                          ', 1018)
SET IDENTITY_INSERT [dbo].[errors] OFF
SET IDENTITY_INSERT [dbo].[events_] ON 

INSERT [dbo].[events_] ([date], [coordiant_x], [coordiant_y], [status_], [event_code], [Num_of_costumer_form], [Num_of_val_form]) VALUES (CAST(N'2020-03-11' AS Date), 123456789, 1234567, 1, 2001, 2001, 2006)
INSERT [dbo].[events_] ([date], [coordiant_x], [coordiant_y], [status_], [event_code], [Num_of_costumer_form], [Num_of_val_form]) VALUES (CAST(N'2020-03-10' AS Date), 3456, 23456, 1, 2003, 1015, 2005)
INSERT [dbo].[events_] ([date], [coordiant_x], [coordiant_y], [status_], [event_code], [Num_of_costumer_form], [Num_of_val_form]) VALUES (CAST(N'2020-01-04' AS Date), 4546789, 56578, 1, 2004, 2002, 2007)
SET IDENTITY_INSERT [dbo].[events_] OFF
INSERT [dbo].[User_] ([UserName], [PassWord_]) VALUES (N'90                       ', N'45              ')
INSERT [dbo].[User_] ([UserName], [PassWord_]) VALUES (N'ADMIN                    ', N'ffff            ')
INSERT [dbo].[User_] ([UserName], [PassWord_]) VALUES (N'dddd                     ', N'iiii            ')
SET IDENTITY_INSERT [dbo].[val_form] ON 

INSERT [dbo].[val_form] ([start], [sound], [Num_of_val_form], [see], [light], [error_code], [code_Volunteers]) VALUES (N'false                                                                                               ', N'true                                                                                                ', 2005, N' 0/                                                                                                 ', N'נורת חום מנוע-נוזל קירור.png,                                                                       ', 2002, 1000)
INSERT [dbo].[val_form] ([start], [sound], [Num_of_val_form], [see], [light], [error_code], [code_Volunteers]) VALUES (N'true                                                                                                ', N'true                                                                                                ', 2006, N' 0/1/                                                                                               ', N'Check Engine.png,נורת חום מנוע-נוזל קירור.png,נורת לחץ שמן.png,נורת תקלת חשמל.png,                  ', 2003, 1006)
INSERT [dbo].[val_form] ([start], [sound], [Num_of_val_form], [see], [light], [error_code], [code_Volunteers]) VALUES (N'false                                                                                               ', N'true                                                                                                ', 2007, N'                                                                                                    ', N'נורת חום מנוע-נוזל קירור.png,נורת לחץ שמן.png,                                                      ', 2002, 1022)
SET IDENTITY_INSERT [dbo].[val_form] OFF
INSERT [dbo].[vol_errors] ([code_Volunteers], [error_code]) VALUES (1004, 2001)
INSERT [dbo].[vol_errors] ([code_Volunteers], [error_code]) VALUES (1013, 2002)
INSERT [dbo].[vol_errors] ([code_Volunteers], [error_code]) VALUES (1000, 1000)
SET IDENTITY_INSERT [dbo].[Volunteers] ON 

GO
SET IDENTITY_INSERT [dbo].[Volunteers] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__costumer__AB6E616438D4B5F0]    Script Date: 03/06/2020 14:41:03 ******/
ALTER TABLE [dbo].[costumer] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__costumer__B43B145F178C213C]    Script Date: 03/06/2020 14:41:03 ******/
ALTER TABLE [dbo].[costumer] ADD UNIQUE NONCLUSTERED 
(
	[phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__drag__B43B145F67EFBD10]    Script Date: 03/06/2020 14:41:03 ******/
ALTER TABLE [dbo].[drag] ADD UNIQUE NONCLUSTERED 
(
	[phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Voluntee__B43B145FC999B0B7]    Script Date: 03/06/2020 14:41:03 ******/
ALTER TABLE [dbo].[Volunteers] ADD UNIQUE NONCLUSTERED 
(
	[phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[costumer_form]  WITH CHECK ADD FOREIGN KEY([code_costumer])
REFERENCES [dbo].[costumer] ([code_costumer])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[drag]  WITH CHECK ADD FOREIGN KEY([event_code])
REFERENCES [dbo].[events_] ([event_code])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[error_Prediction]  WITH CHECK ADD FOREIGN KEY([error_code])
REFERENCES [dbo].[errors] ([error_code])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[error_Prediction]  WITH CHECK ADD FOREIGN KEY([Num_of_costumer_form])
REFERENCES [dbo].[costumer_form] ([Num_of_costumer_form])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[events_]  WITH CHECK ADD FOREIGN KEY([Num_of_costumer_form])
REFERENCES [dbo].[costumer_form] ([Num_of_costumer_form])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[events_]  WITH CHECK ADD FOREIGN KEY([Num_of_val_form])
REFERENCES [dbo].[val_form] ([Num_of_val_form])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[val_form]  WITH CHECK ADD FOREIGN KEY([code_Volunteers])
REFERENCES [dbo].[Volunteers] ([code_Volunteers])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[val_form]  WITH CHECK ADD FOREIGN KEY([error_code])
REFERENCES [dbo].[errors] ([error_code])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[vol_errors]  WITH CHECK ADD FOREIGN KEY([code_Volunteers])
REFERENCES [dbo].[Volunteers] ([code_Volunteers])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[vol_errors]  WITH CHECK ADD FOREIGN KEY([error_code])
REFERENCES [dbo].[errors] ([error_code])
ON DELETE CASCADE
GO
USE [master]
GO
